@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-table">
   <table class="table ">
      <thead>
         <tr>
            <th>
               <h5>HTML Tutorial</h5>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <a asp-action="Introduction" class="nav-link text-black">HTML Introduction</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="" class="nav-link text-black">HTML Editors</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="Tags" class="nav-link text-black">HTML Tags</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="Elements" class="nav-link text-black">HTML Elements</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="" class="nav-link text-black">HTML Attributes</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="Heading" class="nav-link text-black">HTML Heading</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="" class="nav-link text-black">HTML Paragraphs</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="" class="nav-link text-black">HTML Meta Tags</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="" class="nav-link text-black">HTML Comments</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="" class="nav-link text-black">HTML Styles</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="" class="nav-link text-black">HTML Phrase Tags</a>
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="" class="nav-link text-black">HTML Images</a>

               
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="" class="nav-link text-black">HTML Tables</a>
               
            </td>
         </tr>
         <tr>
            <td>
               <a asp-action="" class="nav-link text-black">HTML Lists</a>
               
            </td>
         </tr>
      </tbody>
   </table>
</div>