@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section scripts{
    <script src="~/js/HTML/OnlineEditor.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.18.0/ace.js" integrity="sha512-nGERTncRnKK6JW7AeRyRM6yHeRAkp+bn6Id3UOXPJBDt3zPSuex2MSDbTNMTFjh5w5X2H9P0JSYiXfzwbHreIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.18.0/ext-language_tools.min.js" integrity="sha512-Yfq8006FlU9jvJkQga/htWTCwByd5es+PgocTYX2ztHGyZ9VinDxo7FC+KG7WTbVPnSHz1xcdh+bfzMJ7iq84g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
       $(document).ready(function () {
           $('header').empty();
           $('footer').empty();
       });
    </script>
}
<div class="container-fluid">
   <div style="height:120px">
   </div>

   <h4 class="text-center">Online HTML, CSS, JS Compiler</h4>
   <div class="row">
      <div class="col-md-6 col-sm-12">
         <div class="card" style="min-height:400px">
            <div class="card-header">
               <div class="float-start">
                  <h5 class="text-info">
                     Code Editor
                  </h5>
               </div>
               <div class="float-end">
                  <div>
                     <button type="button" id="clear" class="btn btn-sm btn-info"> Clear</button>
                     <button type="button" id="run" class="btn btn-sm btn-success">Run</button>
                  </div>
               </div>
            </div>
            <div class="card-body">
               <div id="editor" style="min-height:300px"></div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-sm-12">
         <div class="card" style="min-height:400px">
            <div class="card-header">
               <h5 class="text-info">
                  Output
               </h5>
            </div>
            <div class="card-body" id="output">
            </div>
         </div>
      </div>
   </div>
</div>